<nav id="navbar-main" class="navbar navbar-light fill">
  <div class="container-fluid">
    <div class="navbar-header">
        <ul>
            <li>
                <a class="navbar-brand" href="/">F o o d P r i n t</a>
            </li>
        </ul>
    </div>
    <!-- <div>
        <ul class="nav navbar-nav">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Other Stuff</a></li>
            <li><a href="#">Resources</a></li>
        </ul>
    </div> -->
    <div class="pull-right">
        <ul>
            {{#if currentUser}}
            <li><a href="/logout">Logout</a></li>
            {{else}}
            <li><a href="/login">Login</a></li>
            <li><a href="/sign-up">Sign Up</a></li>
            {{/if}}
        </ul>
    </div>
  </div>
</nav>
