<nav id="navbar-main" class="navbar navbar-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        FoodPrint
      </a>
    </div>
    <!-- <div>
        <ul class="nav navbar-nav">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Other Stuff</a></li>
            <li><a href="#">Resources</a></li>
        </ul>
    </div> -->
    <div class="pull-right">
        {{#if currentUser}}
        <a href="/logout"><button class="btn btn-default navbar-btn">Logout</button></a>
        {{else}}
        <a href="/login"><button class="btn btn-default navbar-btn">Login</button></a>
        <a href="/sign-up"><button class="btn btn-default navbar-btn">Sign Up</button></a>
        {{/if}}
    </div>
  </div>
</nav>
