<<<<<<< HEAD
<legend>Graph</legend>
<div style="width:1000px;height:400px;border:0px solid #000;"></div>
  <legend>Day of the Week</legend>
<fieldset>
  <!-- Breakfast -->
  <div class="container"> 
  <h2>Breakfast</h2>
    <div class="topcorner">
      <a href="#">Add Food</a>
      <ins>|</ins>
      <a href="#">Edit Food</a>
    </div>
  <hr>
  </div>

  <!-- Lunch -->
  <div class="container"> 
  <h2>Lunch</h2>
    <div class="topcorner">
      <a href="#">Add Food</a>
      <ins>|</ins>
      <a href="#">Edit Food</a>
    </div>

  <hr>
  </div>

  <!-- Dinner -->
  <div class="container"> 
  <h2>Dinner</h2>
    <div class="topcorner">
      <a href="#">Add Food</a>
      <ins>|</ins>
      <a href="#">Edit Food</a>
    </div>
  <hr>
  </div>

  <!-- Snacks -->
  <div class="container"> 
  <h2>Snacks</h2>
    <div class="topcorner">
      <a href="#">Add Food</a>
      <ins>|</ins>
      <a href="#">Edit Food</a>
    </div>
  <hr>
  </fieldset>
  </div>
=======
<p>This is where the profile will go</p>
>>>>>>> b938c96ee977e340173f9ee43db8647a33ee9a57
