<legend>Add Food</legend>

<div class="form-group row" >
    <input class="form-control" id="search" type="text" name="search" placeholder="Look up food here"/>
    <a href="/profiles">
        <button class="btn btn-primary" type="submit">Search</button>
    </a>
</div>
