<legend>Add Food</legend>

<div class="form-group row" >
    <input style="width: 75%" class="form-control" id="search" type="text" name="search" placeholder="Look up food here"/>
    <a href="/profiles">
        <button class="btn btn-primary" type="submit">Search</button>
    </a>
</div>

<div class="input-bar">
        <div class="input-bar-item width100">
          <form>
             <div class="form-group">
                <input class="form-control width100">
            </div>
          </form>
        </div>
        <div class="input-bar-item">
          <button class="btn btn-info">MyButton</button>
        </div>
      </div>
