<!-- HomePage -->
<div class="container-fluid">
      <h1>Want to lower your carbon emissions?</h1><br>
      <!-- <h1>Why lower your carbon emissions?</h1><br> -->
      <div><img src="https://images.unsplash.com/photo-1515003197210-e0cd71810b5f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4fa061122a5ce899fcb5454dae8dbe99&auto=format&fit=crop&w=750&q=80" class="responsive"></div>
      <h4>Have you ever wanted to improve your overall carbon output, but were not sure how to do it?</h4><br>
      <p>Food is a huge contributor to CO2 emissions and its also a very personal way to help prevent global warming.</p>
      <p>This app is a food tracker that tells your your overall carbon output based on what you have eaten.</p>
      <br><a href="/sign-up"><button class="btn btn-default btn-lg">Sign Up</button></a>
</div>
