<form method="POST" action="/login">

    <!-- Decorative circles -->
    <div class="circle-left-small"></div>
    <div class="circle-right"></div>
    <!-- <div class="circle-top-med"></div> -->
    <div class="circle-center-pink"></div>
    <div class="circle-bottom-right"></div>
    <div class="circle-mid-left"></div>
    <fieldset>
        <div class="login-card">
            <h1>Log in</h1>
            <!-- {{#unless alreadyUser}}
            <p style="color: red">Hmm...it looks like you don't have a profile.</p>
            {{/unless}} -->
             <!-- <a href="/sign-up">If you have not yet signed up, click here!</a><br><br> -->
            <div class="input-group">
                <!-- Username -->
                <label for="username">Username</label><br>
                <input placeholder="username" type="text" name="username" value="{{profile.username}}"/>

                <!-- Password -->
                <label for="password">Password</label><br>
                <input id="formPassword"placeholder="password" type="password" name="password" value="{{profile.password}}"/>
                <!-- Show/Hide Password -->
                <input type="checkbox" onclick="showPassword()"> Show Password

                <br>
                <br>
            </div>
            
                <!-- Submit Button -->
            <span class="input-group-btn">
                <a href="/login">
                    <input class="login login-submit" type="submit" name="login">Submit</button>
                </a>
            </span>

                <!-- Help Section -->
            <div class="login-help">
              <a href="/sign-up">Register</a> • <a href="#">Forgot Password</a>
            </div>
        </div>
    </fieldset>
</form>
