<form method="POST" action="">
    <fieldset>
        <legend>Log in</legend>
         <a href="/form">If you have not signed up click here</a><br><br>
        <!-- Username -->
         <label for="username">Username</label><br>
        <div class="input-group">
            <input class="form-control" id="login-username" type="text" name="username" value="{{profile.username}}"/>
            <span class="input-group-btn">
                <a href="/profiles/{{profile.id}}">
                    <button class="btn btn-primary" type="button">Submit</button>
                </a>
            </span>
        </div>
    </fieldset>
</form>
