<h2>Welcome, {{profile.username}}!</h2>

<legend>Graph</legend>
<div style="width:1000px;height:400px;border:0px solid #000;"></div>
  
<fieldset>
  <legend>Today's Meals</legend>

  <!-- Breakfast -->
  <div class="container">
  <div class="pull-right">
    <svg height="100" width="100">
      <g id="UrTavla">
      <circle cx="50" cy="50" r="40" stroke="#4AFA75" stroke-width="3" fill="green">
      </circle>
      <text x="50%" y="50%" text-anchor="middle" dy=".3em">12</text>
      </g>
    </svg>
  </div>
  <h2>Breakfast</h2>
    <p>Food Item One</p>
    <p>Food Item Two</p>
    <p>Food Item Three</p>
    <p>Food Item Four</p>
    <div>
      <a href="/foods">Add Food</a>
      <ins>|</ins>
      <a href="#">Edit Food</a>
    </div>
  
  <hr>
  </div>

  <!-- Lunch -->
  <div class="container">
    <div class="pull-right">
    <svg height="100" width="100">
      <g id="UrTavla">
      <circle cx="50" cy="50" r="40" stroke="#FADD4A" stroke-width="3" fill="yellow">
      </circle>
      <text x="50%" y="50%" text-anchor="middle" dy=".3em">20</text>
      </g>
    </svg>
  </div>
  <h2>Lunch</h2>
    <p>Food Item One</p>
    <p>Food Item Two</p>
    <p>Food Item Three</p>
    <p>Food Item Four</p>
    <div class="topcorner">
      <a href="/foods">Add Food</a>
      <ins>|</ins>
      <a href="#">Edit Food</a>
    </div>

  <hr>
  </div>

  <!-- Dinner -->
  <div class="container">
    <div class="pull-right">
    <svg height="100" width="100">
      <g id="UrTavla">
      <circle cx="50" cy="50" r="40" stroke="#FC5252" stroke-width="3" fill="red">
      </circle>
      <text x="50%" y="50%" text-anchor="middle" dy=".3em">40</text>
      </g>
    </svg>
  </div>
  <h2>Dinner</h2>
    <p>Food Item One</p>
    <p>Food Item Two</p>
    <p>Food Item Three</p>
    <p>Food Item Four</p>
    <div class="topcorner">
      <a href="/foods">Add Food</a>
      <ins>|</ins>
      <a href="#">Edit Food</a>
    </div>
  <hr>
  </div>

  <!-- Snacks -->
  <div class="container">
    <div class="pull-right">
    <svg height="100" width="100">
      <g id="UrTavla">
      <circle cx="50" cy="50" r="40" stroke="#4AFA75" stroke-width="3" fill="green">
      </circle>
      <text x="50%" y="50%" text-anchor="middle" dy=".3em">40</text>
      </g>
    </svg>
  </div>
  <h2>Snacks</h2>
    <p>Food Item One</p>
    <p>Food Item Two</p>
    <p>Food Item Three</p>
    <p>Food Item Four</p>
    <div class="topcorner">
      <a href="/foods">Add Food</a>
      <ins>|</ins>
      <a href="#">Edit Food</a>
    </div>
  <hr>
  </fieldset>
  </div>
