<form method="POST" action="/sign-up">
    <fieldset>
        <legend>Sign Up</legend>
        <!-- Username -->
        {{#if userExists}}
        <a href="/login">Your username is already in use. Click here to login.</a>
        {{/if}}
        <div class="form-group">
            <label for="username">Username</label><br>
            <input class="form-control" id="username" type="text" name="username" placeholder="username"/>
        </div>

        <!-- Password -->
        <div class="form-group">
            <label for="password">Password</label><br>
            <input class="form-control" id="password" type="text" name="password" placeholder="password" />
        </div>

        <div class="form-group">
            <a href="/profiles">
                <button class="btn btn-primary" type="submit">Submit</button>
            </a>
        </div>
    </fieldset>
</form>
